[Unit]
Description=HashiCorp Nomad server
Documentation=https://developer.hashicorp.com/nomad/docs
Wants=network-online.target
After=network-online.target cloud-config.service
Requires=cloud-config.service
ConditionFileNotEmpty=/etc/nomad.d/nomad.hcl
ConditionFileNotEmpty=/etc/nomad.d/90-runtime.hcl

[Service]
User=nomad
Group=nomad
Type=notify
EnvironmentFile=-/etc/nomad.d/nomad.env
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000
StateDirectory=nomad
StateDirectoryMode=0750
UMask=0027

[Install]
WantedBy=multi-user.target
